<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>
<body>

    <header id="header"></header>


    <main>
        <header>
            <h1>첫번째 글</h1>
        </header>

        <aside>
            <p>yeseul</p>
            <p><a href="mailto:yeseul7002@gmail.com">yeseul7002@gmail.com</a></p>
            <p><time datetime="2025-04-22T00:00:00">2025-04-22</time></p>
            <p>#java</p>
        </aside>

        <section>
            <p>본문<br><br></p>

            <div>
                <form>
                    <label for="articleComment" hidden="">댓글</label>
                    <textarea id="articleComment" placeholder="댓글을 입력하세요." rows="3"></textarea>
                    <button type="submit">쓰기</button>
                </form>

                <ul>
                    <li>
                        <div>
                            <time><small>2025-04-22</small></time>
                            <strong>yeseul</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Lorem ipsum dolor sit amet,
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>2025-04-22</small></time>
                            <strong>yeseul</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Lorem ipsum dolor sit amet,
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <nav>
                <a class="page-previous" href="#">이전 글</a>
                <a class="page-next" href="#">다음 글</a>
            </nav>
        </section>

    </main>

    <footer id="footer"></footer>

</body>
</html>
